.main__header {
    color: rgb(4, 87, 4);
    text-align: center;
    margin-top: 50px;
}

.footer {
    margin-top: 20px;
}

.contact {
    margin-top: 20px;
}

.video1 {
    margin-top: 20px;
}

.container {
    overflow-x: auto;
}

.button {
   padding: 8px;
   background-color: rgb(163, 182, 146);
   font-family: 'Lato', sans-serif;
   margin-left: 20px;
}

.main__description1, .main__description2, .description3, .description4 {
    line-height: 2;
}

.main__description1, .main__header2, .main__description2, .image, .description4, .header3 {
    padding: 10px;
    margin: 20px auto;
}