.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table__Cell {
    border: 1px solid #ccccccb1;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.table__caption {
    margin-bottom: 20px;
}

.table__Cell--Header {
    background-color: rgb(19, 93, 19);
    color: white;
    font-weight: normal;
}

.table__Row:nth-child(even) {
    background: #eee;
}

.table__Row:hover {
    background: #ddd;
}